# Build artifacts
build/
dist/
bin/

# Python
venv/
.venv/
__pycache__/
*.pyc

# OpenVINO / binaries
*.dll
*.exe
*.bin

# Models (too large for git)
models/TinyLlama_ov/

# OS / editor
.vscode/
.DS_Store
Thumbs.db

.vscode/*
!.vscode/launch.json
!.vscode/c_cpp_properties.json
